.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-nav-bar {
  flex: 0 0 100px;
  background:grey;
}

.App-directions {
  flex: 0 0 250px;
  background:#A5C4D4;
  height: 250px;
  
}

.App-game-images {
  flex: 1 0 auto;
 background-color:black;

  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
