.Reset {
  margin-left: 15px;
  font-family: 'Permanent Marker', cursive;
}
.Status {
  font-family: 'Permanent Marker', cursive;
}


.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto; 
  background-color:grey;
  height: 100px;
  align-content: center;
  font-family: 'Permanent Marker', cursive;
}

